// ============================================
// iZambezi Icon Definitions
// ============================================

@use 'variables' as *;

// Icon list - all available icons
$izambezi-icons: (
  'aa-zw': 'AA Zimbabwe',
  'afdis': 'African Distillers',
  'afm': 'Apostolic Faith Mission Church',
  'africa-university': 'Africa University',
  'africom': 'Africom',
  'agribank': 'Agribank',
  'agrimix': 'Agrimix',
  'agriseeds': 'Agriseeds',
  'aids-council-zw': 'National Aids Council',
  'airforce-zw': 'Airforce of Zimbabwe',
  'antelope-park': 'Antelope Park',
  'bakers-inn': 'Bakers Inn',
  'banc-abc': 'Banc ABC',
  'banff-lodge': 'Banff Lodge',
  'bellevue-abbatoir': 'Bellevue Abbatoir',
  'big-bro-chicken': 'Big Brother Chickens',
  'bindura-nickel': 'Bindura Nickel',
  'bindura-university': 'Bindura University',
  'black-label-beer': 'Black Label Beer',
  'bon-marche': 'Bon Marche',
  'brands-africa': 'Brands Africa',
  'british-american-tobacco': 'British American Tobacco Company',
  'bulawayo-chiefs-fc': 'Bulawayo Chiefs Football Club',
  'bulawayo-city': 'Bulawayo City',
  'bulawayo-city-fc': 'Bulawayo City Football Club',
  'caaz': 'Civil Aviation Authority of Zimbabwe',
  'cairns': 'Cairns Foods',
  'caps-fc': 'Caps Football Club',
  'carswell-meats': 'Carswell Meats',
  'castle-lager': 'Castle Lager',
  'catholic-university': 'Catholic University',
  'cbz': 'Commercial Bank of Zimbabwe',
  'ccz': 'Consumer Counsel of Zimbabwe',
  'chamber-of-mines': 'Chamber of Mines',
  'chengeta-lodge': 'Chengeta Safari Lodge',
  'chibuku': 'Chibuku',
  'chicken-inn': 'Chicken Inn',
  'chicken-inn-fc': 'Chicken Inn Football Club',
  'chicken-slice': 'Chicken Slice',
  'chinhoyi-university': 'Chinhoyi University',
  'choppies': 'Choppies',
  'christian-care-zw': 'Christian Care Zimbabwe',
  'chronicle': 'The Chronicle',
  'cimas': 'CIMAS',
  'cmed': 'CMED',
  'coat-of-arms': 'Coat of Arms',
  'cocacola': 'Cocacola',
  'colcom': 'Colcom',
  'creamy-inn': 'Creamy Inn',
  'creamy-slice': 'Creamy Slice',
  'czr': 'Confederation of Zimbabwe Retailers',
  'dairibord-zw': 'Dairibord Zimbabwe',
  'delta': 'Delta Corporation',
  'dendairy': 'Dendairy',
  'doves': 'Doves Morgan',
  'dynamos-fc': 'Dynamos Football Club',
  'eagle-lager': 'Eagle Lager',
  'eat-n-lick': 'Eat-n-Lick',
  'ecobank': 'Ecobank',
  'ecocash': 'Ecocash',
  'econet-zw': 'Econet Wireless',
  'eden-lodge-vumba': 'Eden Lodge Vumba',
  'edgars': 'Edgars',
  'elephant-hills-resort': 'Elephant Hills Resort',
  'farm-n-city': 'Farm & City',
  'fbc': 'FBC',
  'fidelity-life': 'Fidelity Life Assurance',
  'financial-gazzette': 'Financial Gazzette',
  'first-capital': 'First Capital Bank',
  'food-lovers': 'Food Lovers Market',
  'food-world': 'Food World',
  'forestry-commission-zw': 'Forestry Commission of Zimbabwe',
  'gain': 'Gain Cash & Carry',
  'gloria': 'Gloria',
  'gmb': 'Grain Marketing Board',
  'golden-pilsner': 'Golden Pilsner',
  'gov-nat-parks': 'National Parks',
  'great-zw-hotel': 'Great Zimbabwe Hotel',
  'great-zw-university': 'Great Zimbabwe University',
  'guardalert': 'Guard Alert',
  'gweru-city': 'Gweru City',
  'harare-city': 'Harare City',
  'harare-city-fc': 'Harare City Football Club',
  'herald-zw': 'The Herald',
  'herentials-fc': 'Herentials Football Club',
  'hit': 'Harare Institute of Technology',
  'holiday-inn': 'Holiday Inn',
  'hornbill-lodge': 'Hornbill Lodge',
  'hwange': 'Hwange Colliery',
  'hwange-safari-lodge': 'Hwange Safari Lodge',
  'idbz': 'Infrastructure Development Bank of Zimbabwe',
  'ingwebu': 'Ingwebu',
  'innscor': 'Innscor Africa Limited',
  'interfin-bank': 'Interfin Bank',
  'irvines': 'Irvines',
  'ivory-lodge': 'Ivory Lodge',
  'koala-park': 'Koala Park',
  'kwayedza-lodge': 'Kwayedza Lodge',
  'kwese-tv': 'Kwese TV',
  'lafarge': 'Lafarge Cement',
  'law-society-zw': 'Law Society of Zimbabwe',
  'lion-lager': 'Lion Lager',
  'liquid': 'Liquid Telecom',
  'lobels': 'Lobel Bread',
  'lrf': 'Legal Resource Foundation',
  'lupane-university': 'Lupane State University',
  'mam-zw': 'MAM',
  'masimba': 'Masimba Holdings',
  'masvingo-city': 'Masvingo City',
  'matobo-hills-lodge': 'Matobo Hills Lodge',
  'mdc-alliance': 'MDC-Alliance',
  'mealie-brand': 'Mealie Brand',
  'meikles-hotel': 'Meikles Hotel',
  'meikles-ltd': 'Meikles Limited',
  'methodist': 'Methodist Church Zimbabwe',
  'midlands-university': 'Midlands State University',
  'mimosa': 'Mimosa Mining Company',
  'mipf': 'Mining Industry Pension Fund',
  'mmcz': 'MMCZ',
  'montana-meats': 'Montana Meats',
  'moonlight': 'Moonlight Funeral Service',
  'murowa': 'Murowa Diamonds',
  'mutare-city': 'Mutare City',
  'muzinda': 'MuzindaHub',
  'nash-paints': 'Nash Paints',
  'natfoods': 'National Foods Limited',
  'national-arts-council': 'National Arts Council',
  'national-gallery': 'National Gallery',
  'nbsz': 'National Blood Service Zimbabwe',
  'nedbank': 'Nedbank',
  'nestle': 'Nestle',
  'netone': 'Netone',
  'nmb': 'NMB Bank',
  'nprc': 'National Peace & Reconciliation Commission',
  'nrg': 'N Richards Group',
  'nrz': 'National Railways Zimbabwe',
  'nssa': 'National Social Security Authority',
  'nust': 'National University of Science and Technology',
  'nyaradzo': 'Nyaradzo Life Assurance',
  'ok-mart': 'OK Mart',
  'ok-zw': 'OK Zimbabwe',
  'old-mutual': 'Old Mutual',
  'olivine': 'Olivine',
  'pamuzinda-lodge': 'Pamuzinda Lodge',
  'petrotrade': 'Petrotrade',
  'pg': 'PG',
  'pindula': 'Pindula News',
  'pioneer': 'Pioneer Seeds',
  'pizza-inn': 'Pizza Inn',
  'pizza-slice': 'Pizza Slice',
  'platinum-fc': 'Platinum FC',
  'pnp': 'Pick n Pay',
  'posb': 'Peoples Own Saving Bank',
  'potraz': 'POTRAZ',
  'power-fm': 'Power FM',
  'powertel': 'Powertel',
  'ppc': 'PPC Cement',
  'probrands': 'ProBrands',
  'psi': 'PSI',
  'psmas': 'PSMAS',
  'psmi': 'PSMI',
  'rbz': 'Reserve Bank of Zimbabwe',
  'rcz': 'Reformed Church Zimbabwe',
  'rea': 'Rural Electrification Agency',
  'redseal': 'Redseal',
  'riozim': 'Rio Zim',
  'rtg': 'Rainbow Towers Group',
  'sable-chemicals': 'Sable Chemicals',
  'safeguard': 'Safeguard Security',
  'sandvik': 'Sandvik',
  'saz': 'Standards Association of Zimbabwe',
  'schweppes': 'Schweppes Zimbabwe',
  'securico': 'Securico',
  'seedco': 'SeedCo',
  'sheraton': 'Sheraton',
  'simbisa-brands': 'Simbisa Brands',
  'sino-zw': 'Sino',
  'spar': 'Spar',
  'stanbank': 'Stanbank',
  'stanchart': 'Stanchart',
  'starfm': 'Star FM',
  'steward-bank': 'Steward Bank',
  'suncrest': 'Suncrest',
  'sunday-mail': 'Sunday Mail',
  'surrey-group': 'Surrey Group',
  'surrey-huku': 'Surrey Huku',
  'telecel': 'Telecel',
  'telone': 'Telone',
  'tongaat-hullet': 'Tongaat Hullet',
  'troutbeck-resort': 'Troutbeck Resort',
  'tscz': 'Traffic Safety Council of Zimbabwe',
  'tsl-limited': 'TSL Limited',
  'turnall': 'Turnall Holdings',
  'tv-sales': 'TV Sales',
  'vic-falls-hotel': 'Victoria Falls Hotel',
  'vic-falls-lodge': 'Victoria Falls Lodge',
  'zambezi-lager': 'Zambezi Lager',
  'zanu-pf': 'Zanu PF',
  'zb': 'ZB Bank',
  'zbc': 'Zimbabwe Broadcasting Corporation',
  'zctu': 'Zimbabwe Congress of Trade Unions',
  'zdf': 'Zimbabwe Defense Force',
  'zec': 'Zimbabwe Electoral Commission',
  'zegu': 'Zimbabwe Ezekiel Guti University',
  'zesa': 'ZESA',
  'zetdc': 'ZETDC',
  'zifa': 'ZIFA',
  'zi-fm': 'Zi-FM',
  'zimasco': 'ZIMASCO',
  'zimdef': 'ZIMDEF',
  'zimplats': 'ZIMPLATS',
  'zimpost': 'Zimpost',
  'zimra': 'ZIMRA',
  'zimsec': 'ZIMSEC',
  'zinwa': 'ZINWA',
  'zitf': 'ZITF',
  'zol': 'ZOL',
  'zou': 'ZOU',
  'zpc': 'ZPC',
  'zw-bird': 'Zimbabwe Bird',
  'zw-cricket': 'Zimbabwe Cricket',
  'zw-police': 'Zimbabwe Republic Police',
  'zw-tourism': 'Tour Zimbabwe',
  'zw-tourism-authority': 'Zimbabwe Tourism Authority',
  'zw-university': 'University of Zimbabwe'
);

// Generate icon classes
@each $name, $label in $izambezi-icons {
  .#{$name} {
    background-image: url('#{$izambezi-icon-path}#{$name}.png');
    
    &.zw-svg {
      background: url('#{$izambezi-icon-path}#{$name}.png');
      background-image: url('#{$izambezi-icon-path}#{$name}.svg'), none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
